# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosytem are summarised.

**Objectives:**
- list popular languages for data science
- list commonly used libraries by data scientists
- list some data science tools
- calculate simple arithmetic expressions

Some of the popular languages Data Scientists use are:
1) Python
2) R
3) SQL

Some of the commonly used libraries used by Data Scientists include:
1) pandas
2) numpy
3) matplotlib

| Data Science Tools |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Zeppelin     |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.

hours = 200/60
hours

3.3333333333333335

## Author
Darshita